body {
    font-family: system-ui;
    background: #000000;
    color: white;
}

$bg-color: #000000;
$pink-color: #FB016B;
$grey-color: #D9D9D9;
$white-color: #ffffff;

@mixin button {
    width: 273px;
    height: 92px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: $pink-color;
    font-family: 'Moniqa-LightParagraph';
    text-transform: uppercase;
    font-weight: 300;
    font-size: 40px;
    line-height: 42px;
    color: $white-color;

    &:hover {
        opacity: .85;
    }
}

// Код кнопки
.education-button {
    @include button;
    padding: 25px 85px;
}

.education-terms {
    margin-top: 40px;
    position: absolute;
    max-width: 800px;
    background-color: $grey-color;
    border-radius: 40px;
    border: none;
    transition: .8s;
    padding: 25px;
    opacity: 0;

    &-text {
        // У Анастасии здесь работа с img дипломов, у Катерины также с текстом)
        font-family: 'Moniqa-MediumHeading';
        font-size: 18px;
        font-weight: bold;
        color: $bg-color;
        margin-top: 0;
        margin-bottom: 10px;
    }
}

#check_label {
    display: none;

    &:checked~.education-terms-img {
        display: block;
        height: auto;
        opacity: 1;
    }
}