.header-meny {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__li {
        list-style-type: none;
        padding: 0.2em 1.2em 0.2em 1.2em;
        border-radius: 10px;
        transition: all 0.5s;

        &-a {
            text-decoration: none;
            color: $white-color;
        }
    }

    &__li:hover {
        background-color: $pink-color;
    }
}

.about {
    display: grid;
    grid-template-columns: 18.5% 81.5%;

    padding-left: 8%;
    padding-right: 5%;
    margin-bottom: 8%;

    &__text {
        grid-template-areas: 1/2/1/2;
        display: flex;
        flex-direction: column;

        &-title {
            position: absolute;
            margin-top: 25%;
            font-family: "Moniqa-MediumHeading";
            font-weight: 500;
            font-size: 96px;
            line-height: 100px;
            color: $pink-color;
        }

        &-prof {
            position: absolute;
            margin-top: 45%;
        }

        &-moscow {
            position: absolute;
            margin-top: 50%;
        }

        &-passage {
            position: absolute;
            margin-top: 65%;
            margin-left: -4%;
            font-family: 'BadScript-Regular';
            font-style: italic;
            font-weight: 400;
            font-size: 40px;
            line-height: 52px;
            color: $white-color;

            &-i {
                color: $pink-color;
            }
        }
    }

    &__photo {
        grid-template-areas: 2/3/2/3;
    }


    &__button {
        width: 273px;
        height: 92px;

        &-button {
            @include button;
            padding: 25px 85px;
        }

        &-terms {
            margin-top: 40px;
            position: absolute;
            max-width: 1000px;
            background-color: $grey-color;
            border-radius: 40px;
            border: none;
            transition: .8s;
            padding: 25px;
            opacity: 0;
            z-index: 5;

            &-text {
                font-family: 'Times New Roman', Times, serif;
                font-size: 14px;
                font-weight: bold;
                font-style: italic;
                color: $bg-color;
                margin-top: 0;
                margin-bottom: 6px;
            }
        }

        #check_label-about {
            display: none;

            &:checked~.about__button-terms {
                display: block;
                height: auto;
                opacity: 1;
            }
        }

    }
}

@media screen and (max-width: 885px) {
    .about {
        margin-bottom: 20%;

        &__text {
            margin-left: 2%;

            &-title {
                margin-top: 15%;
            }

            &-passage {
                font-size: 30px;
                line-height: 42px;
            }
        }
    }
}

#burger {
    display: none;
}

@media screen and (max-width: 730px) {
    [for=burger] {
        display: block;
        position: absolute;
        width: 30px;
        text-align: center;
        right: 20px;
        top: 20px;
        margin: 1.6em;
    }

    [for=burger]::before {
        content: '☰';
    }

    nav {
        display: none;
        position: absolute;
        right: 70px;
        top: 0;
        margin-top: 30px;
        width: 35%;
        user-select: none;
    }

    .header-meny {
        display: block;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    #burger:checked+label+nav {
        display: block;
    }

    #burger:checked+[for=burger]::before {
        content: '✕';
    }

    .about__text {
        margin-left: 1%;

        &-title {
            margin-top: 25%;
            font-size: 66px;
            line-height: 80px;
        }

        &-prof {
            margin-top: 45%;
        }

        &-passage {
            display: none;
        }

        &-moscow {
            display: none;
        }
    }
}

@media screen and (max-width: 410px) {
    .about__text {
        margin-left: 1%;

        &-title {
            margin-top: 30%;
            font-size: 66px;
            line-height: 80px;
        }

        &-prof {
            margin-top: 65%;
        }

        &-passage {
            display: none;
        }

        &-moscow {
            display: none;
        }
    }
}