.header-meny {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &__li {
    list-style-type: none;
    padding: 0.2em 1.2em 0.2em 1.2em;
    border-radius: 10px;
    transition: all 0.5s;
  }

  &__li-a {
    text-decoration: none;
    color: $white-color;
  }

  &__li:hover {
    background-color: $pink-color;
  }
}

.about__wrap-main {
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 10px;
}

.about {
  margin-bottom: 120px;
  margin: 0px auto 120px;
  padding: 0 15px;


  &__text {
    grid-template-areas: 1/2/1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10%;
    margin-top: 10%;
  }

  &__text-title {
    font-family: "Moniqa-MediumHeading";
    font-weight: 500;
    font-size: 96px;
    line-height: 100px;
    color: $pink-color;
    margin: .60em 0;
  }

  &__text-prof {
    line-height: 25px;
    margin: 0;
  }

  &__text-passage {
    margin-left: -4%;
    font-family: 'BadScript-Regular';
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    line-height: 52px;
    color: $white-color;
    margin-bottom: 60px;
  }

  &__text-passage-i {
    color: $pink-color;
  }

  &__photo {
    grid-column: 2;
    background-image: url(/assets/images/about.png);
    background-repeat: no-repeat;
    background-position: 50%;
  }
}

#burger {
  display: none;
}

.about__wrap-button {
  display: flex;
  flex-direction: column;
  margin: 75px;
}


.about__button-button {
  @include button;
  display: flex;
  align-items: center;
  justify-content: center;
}


.about__button-terms {
  margin-top: 40px;
  position: absolute;
  max-width: 1000px;
  background-color: $grey-color;
  border-radius: 40px;
  border: none;
  transition: .8s;
  padding: 25px;
  opacity: 0;
  z-index: 5;

  &-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    line-height: 16px;
    color: $bg-color;
    margin-top: 0;
    margin-bottom: 6px;
  }
}

#check_label-about {
  display: none;

  &:checked~.about__button-terms {
    display: block;
    height: auto;
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .about__wrap-main {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .about__text-title {
    font-size: 64px;
    line-height: 72px;
    margin-top: 20%;

  }

  .about__text-prof {
    font-size: 16px;
    line-height: 18px;
  }

  .about__text-passage {
    margin-top: 20%;
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 40%;
  }

}

.about__photo {
  grid-column: 2;
  background-position: -150px 0;

}

@media screen and (max-width: 750px) {
  [for='burger'] {
    display: block;
    position: absolute;
    text-align: center;
    width: 20px;
    right: 10px;
    top: 20px;
    margin: 1.6em;
  }

  [for='burger']::before {
    content: '☰';
    color: $pink-color;
  }

  nav {
    display: none;
    position: absolute;
    right: 80px;
    top: 0;
    margin-top: 30px;
    width: 20%;
    user-select: none;
  }

  .header-meny {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  #burger:checked+label+nav {
    display: block;
  }

  #burger:checked+[for='burger']::before {
    content: '✕';
  }

  .about__wrap-main {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 10%;
  }

  .about__text-title {
    font-size: 64px;
    line-height: 72px;
    margin-top: 20%;

  }

  .about__text-prof {
    font-size: 16px;
    line-height: 18px;
  }

  .about__text-passage {
    margin-top: 20%;
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 50%;
  }

  .about__photo {
    background-position: -170px 0;
  }

}

@media screen and (max-width: 470px) {
  .about__wrap-button {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
  }

}