.education__title {
	@include font-section-title;
	margin-bottom: 63px;
}

.carousel-inner__education {
	width: 600px;
	height: 100%;
}

.support {
	width: 600px;
	height: 600px;
}

.foto {
	height: 800px;
	width: 1200px;
	left: -251px;
	top: 6419px;
	border-radius: 0px;
	max-width: 100%;
}