#n4 {
	@include font-section-title;
	margin-bottom: 63px;
}

.feedback__wrap-image {

	position: relative;
	max-width: 939px;
	// margin: 0 auto 50px;
	// border-top: solid $pink-color 1px;


	&::before {
		content: '';
		display: block;
		height: 10px;
		background-color: $pink-color;
	}
}

.education__wrap-citation {
	display: flex;
	justify-content: end;
	max-width: 100%;
	margin-right: 20px;

}

.education__citation {
	@include font-citation;
	line-height: 70px;

}

.carousel-item {
	width: 900px;
	height: 700px;
	// margin-left: 200px;
	margin-left: 20%;
	margin-bottom: 10%
}
.education__title {
	@include font-section-title;
	// margin-bottom: 63px;
}
.foto {
	 margin-left: 10%;
	border-top: solid $pink-color 5px;
	border-left: solid $pink-color 5px;
	 

	// height: 800px;
	// width: 1200px;
	// left: -251px;
	// top: 6419px;
	// border-radius: 0px;
	// max-width: 100%;
}

@media screen and (max-width:730px) {

	#n4 {
		font-size: 30px;
	}

	.feedback__citation {
		font-size: 23px;
	}

	.feedback__citation {
		line-height: 50px;
		text-align: right;
		font-family: 'BadScript-Regular';
		font-style: italic;
	}

	.feedback__wrap-image {

		position: relative;
		width: 439px;
	}

	.carousel-item {
		width: 600px;
		height: 400px;
		margin-left: -70px;
	}
}

@media screen and (max-width:410px) {

	.feedback__citation {
		font-size: 24px;
		line-height: 50px;
	}

	.feedback__wrap-image {

		position: relative;
		width: 339px;
	}

	.carousel-item {
		width: 400px;
		height: 300px;
		margin-left: -20px;
	}
}